@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'omyu_pretty';
}

a {
    /* color: inherit !important; 링크 텍스트 색을 상위 요소의 색으로 상속하고 !important로 우선시합니다. */
    text-decoration: none !important;
    /* 밑줄을 제거하고 !important로 우선시합니다. */
    font-size: 20px;
    font-weight: 800;
    color: gray !important;
}

a:hover {
    color: black !important;
}

.header__layout {
    margin-bottom: 30px;
    box-shadow: 2px 3px 5px 0px gray;
}

.header {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1024px;
    height: 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left img {
    width: 100px;
    /* height: 50px; */
}
  
.navbar ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
align-items: center;
}

.navbar li {
position: relative;
}

.navbar>ul>li {
white-space: nowrap;
padding: 10px 0 10px 28px;
font-size: 20px;
}

.header__right {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
    align-items: center;
    margin-left: 20px;
}

.header__right img {
    float: right;
    width: 15%;
    height: 15%;
}

/* 드롭다운 메뉴 숨김 */
.profile-menu {
    display: none;
    position: absolute;
    width: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* 프로필 사진에 호버 시 드롭다운 메뉴 표시 */
.profile-dropdown:hover .profile-menu {
    display: block;
}

/* 드롭다운 메뉴 아이템 스타일링 */
.profile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-menu li {
    padding: 10px;
    text-align: center;
}

.profile-menu li a {
    text-decoration: none;
    color: #333;
}

.profile-menu li a:hover {
    background-color: #f0f0f0;
}


/* 회원가입 모달 */
#join-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* 모달을 다른 내용 위에 표시하기 위한 값 */
    font-weight: 600;
}

#join-modal .modal-window {
    background: rgba(230, 230, 230, 1);
    box-shadow: 0 8px 32px 0 rgba(150, 150, 150, 0.5);
    backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 400px;
    position: relative;
    padding: 10px;
    margin: auto 0;
    /* 모달을 수평 및 수직으로 가운데 정렬합니다. */
}

#join-modal .modal-body {
    margin-top: 50px;
}

#join-modal .custom-select {
    width: 100%;
    /* 원하는 너비로 설정 */
    height: 40px;
    /* 원하는 높이로 설정 */
}

#join-modal__modal_footer_ {
    margin-top: 50px;
    /* 원하는 여백 크기를 설정합니다. */
}

#join-modal__modal_footer_ .btn-danger {
    margin-left: 10px;
    float: right;
    /* 취소 버튼을 오른쪽으로 밀기 */
}

#join-modal__modal_footer_ .btn-primary {
    float: right;
    /* 회원가입 버튼을 오른쪽으로 밀기 */
}

/* 로그인 모달 */
#login-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* 모달을 다른 내용 위에 표시하기 위한 값 */
    font-weight: 600;
}

#login-modal .modal-window {
    background: rgba(230, 230, 230, 1);
    box-shadow: 0 8px 32px 0 rgba(150, 150, 150, 0.5);
    backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 220px;
    position: relative;
    padding: 10px;
    margin: auto 0;
    /* 모달을 수평 및 수직으로 가운데 정렬합니다. */
}

#login-modal .modal-body {
    margin-top: 10px;
}


#login-modal__modal_footer_ .btn-danger {
    margin-left: 10px;
    float: right;
    /* 취소 버튼을 오른쪽으로 밀기 */
}

#login-modal__modal_footer_ .btn-primary {
    float: right;
    /* 회원가입 버튼을 오른쪽으로 밀기 */
}

.edit-information {
    margin: 0 auto;
    max-width: 512px;
    display: flex;
    align-items: center;
}

.edit-information button {
    height: 40px;
}

.edit-information #edit-footer {
    margin-top: 30px;
    gap: 5px;

    float: right; /* 회원가입 버튼을 오른쪽으로 밀기 */
}

#infoBOX{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

#infoData{
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
}

#infoData div{
    white-space: nowrap;
    flex: 1 0 auto;
    text-align: left;

}